<script src="https://unpkg.com/htmx.org@1.9.4"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Business</title>
  </head>
  <body>
    <nav>
      <div
        class="nav-wrapper"
        hx-target="#tab-contents"
        hx-swap="outerHTML"
        role="tablist"
        _="on htmx:afterOnLoad set @aria-selected of <[aria-selected=true]/> to false tell the target take .selected set @aria-selected to true"
      >
        <a href="#" class="brand-logo">Car Deal Assist</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a
              role="tab"
              aria-controls="tab-content"
              aria-selected="true"
              hx-get="/public/v1/cars/list"
              class="selected"
              >Cars</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div
      id="tab-contents"
      role="tabpanel"
      hx-get="/public/v1/cars/list"
      hx-trigger="load"
      hx-swap="outerHTML"
    ></div>
  </body>
</html>
